{% extends 'base.html.twig' %}

{# @var location \App\Entity\Location #}
{# @var weather \App\Entity\Weather #}

{% block title %}Weather in {{ location.city }}, {{ location.country }}{% endblock %}

{% block body %}
    <main>
        <h1>Weather in {{ location.city }}, {{ location.country }}</h1>
{#        <pre>#}
{#            {{dump(location)}}#}
{#        </pre>#}
        <ul>
            {% for measurement in weatherData %}
                <li>{{ measurement.measurementDate|date('d.m.Y') }}: {{ measurement.temperatureC }}&deg;C</li>
            {% else %}
                <text>No measurements available</text>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
